@font-face {
    font-family: "bookkMyungjo";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/bookkMyungjo/bookkMyungjo-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/bookkMyungjo/bookkMyungjo-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/bookkMyungjo/bookkMyungjo-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/bookkMyungjo/bookkMyungjo-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/bookkMyungjo/bookkMyungjo-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "bookkMyungjo";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/bookkMyungjo/bookkMyungjo-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/bookkMyungjo/bookkMyungjo-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/bookkMyungjo/bookkMyungjo-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/bookkMyungjo/bookkMyungjo-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/bookkMyungjo/bookkMyungjo-Bold.ttf") format("truetype");
    font-display: swap;
} 
.bookkMyungjo {
    font-family: "bookkMyungjo";
}
.bookkMyungjo300 {
    font-family: "bookkMyungjo";
    font-weight: 300;
}
.bookkMyungjo700 {
    font-family: "bookkMyungjo";
    font-weight: 700;
}